{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title%}Password Reset{% endblock %}

{% block content %}

<div class="container pt-3 p-3 my-5 border">
    <h3 class="text-center">Reset Password</h3>
    <form action="{% url 'resetpassword' %}" method="post">
        {% include 'flash_message.html' %}
        {% csrf_token %}
        {{form | crispy}}   
        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">
                Request Password Reset
            </button> 
        </div>
    </form>
    
</div>
{% endblock %}