{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container pt-3 my-3 border">
    <form action="/signup/" method="POST">
        {% csrf_token %}
        <h3 class="text-center">Sign Up</h3>
            {{form|crispy}}
        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">
                Sign Up
            </button>    
        </div>
    </form>

    <small class="text-muted">
        Already have an account? <a class="ml-2" href="{% url 'login' %}">Login</a>
    </small>

</div>
{% endblock %}